In the previous notebook, we saw Spark RDD. However, there are three way of data storage - RDD, DataFrame, and DataSet. Here, we deal with Spark DataFrame.

### PySpark DataFrame and Operations
A PySpark dataframe is not the same as a pandas dataframe. Instead, it is **Spark SQL dataframe**.

#### Import PySpark libraries

In [0]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
# optional
spark.conf.set("spark.sql.repl.eagerEval.enabled", True)
spark

#### Import data from data source.
Here, we will use a csv file to import data but data can be imported into Databricks workspace from different sources.

In [0]:
path_to_filestore_tables = "/FileStore/tables/"
training_csv_filename = "train.csv"
titanic_df = spark.read.csv(path_to_filestore_tables+training_csv_filename,
                            header=True,
                            sep=",",
                           inferSchema = True)
titanic_df

PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,0,3,"Braund, Mr. Owen ...",male,22.0,1,0,A/5 21171,7.25,null,S
2,1,1,"Cumings, Mrs. Joh...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. ...",female,26.0,0,0,STON/O2. 3101282,7.925,null,S
4,1,1,"Futrelle, Mrs. Ja...",female,35.0,1,0,113803,53.1,C123,S
5,0,3,"Allen, Mr. Willia...",male,35.0,0,0,373450,8.05,null,S
6,0,3,"Moran, Mr. James",male,null,0,0,330877,8.4583,null,Q
7,0,1,"McCarthy, Mr. Tim...",male,54.0,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. ...",male,2.0,3,1,349909,21.075,null,S
9,1,3,"Johnson, Mrs. Osc...",female,27.0,0,2,347742,11.1333,null,S
10,1,2,"Nasser, Mrs. Nich...",female,14.0,1,0,237736,30.0708,null,C
11,1,3,"Sandstrom, Miss. ...",female,4.0,1,1,PP 9549,16.7,G6,S
12,1,1,"Bonnell, Miss. El...",female,58.0,0,0,113783,26.55,C103,S
13,0,3,"Saundercock, Mr. ...",male,20.0,0,0,A/5. 2151,8.05,null,S
14,0,3,"Andersson, Mr. An...",male,39.0,1,5,347082,31.275,null,S
15,0,3,"Vestrom, Miss. Hu...",female,14.0,0,0,350406,7.8542,null,S
16,1,2,"Hewlett, Mrs. (Ma...",female,55.0,0,0,248706,16.0,null,S
17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.125,null,Q
18,1,2,"Williams, Mr. Cha...",male,null,0,0,244373,13.0,null,S
19,0,3,"Vander Planke, Mr...",female,31.0,1,0,345763,18.0,null,S
20,1,3,"Masselmani, Mrs. ...",female,null,0,0,2649,7.225,null,C

Note that while printing the PySpark SQL dataframe above, we are not retrieving all the rows of the dataframe from the distributed storage of Spark.<br>Let's print the schema of the imported csv file.

In [0]:
titanic_df.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

A lot of the syntax keywords from SQL are useful to interact with Spark dataframe because Spark dataframe class was built with consideration for SQL. For example, the `LIMIT` keyword useed in SQL can be used as below.

In [0]:
titanic_df.limit(5)

PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,0,3,"Braund, Mr. Owen ...",male,22.0,1,0,A/5 21171,7.25,null,S
2,1,1,"Cumings, Mrs. Joh...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. ...",female,26.0,0,0,STON/O2. 3101282,7.925,null,S
4,1,1,"Futrelle, Mrs. Ja...",female,35.0,1,0,113803,53.1,C123,S
5,0,3,"Allen, Mr. Willia...",male,35.0,0,0,373450,8.05,null,S

Similarly the `SELECT` keyword from SQL can be used as below.

In [0]:
titanic_df.select("*")

PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,0,3,"Braund, Mr. Owen ...",male,22.0,1,0,A/5 21171,7.25,null,S
2,1,1,"Cumings, Mrs. Joh...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. ...",female,26.0,0,0,STON/O2. 3101282,7.925,null,S
4,1,1,"Futrelle, Mrs. Ja...",female,35.0,1,0,113803,53.1,C123,S
5,0,3,"Allen, Mr. Willia...",male,35.0,0,0,373450,8.05,null,S
6,0,3,"Moran, Mr. James",male,null,0,0,330877,8.4583,null,Q
7,0,1,"McCarthy, Mr. Tim...",male,54.0,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. ...",male,2.0,3,1,349909,21.075,null,S
9,1,3,"Johnson, Mrs. Osc...",female,27.0,0,2,347742,11.1333,null,S
10,1,2,"Nasser, Mrs. Nich...",female,14.0,1,0,237736,30.0708,null,C
11,1,3,"Sandstrom, Miss. ...",female,4.0,1,1,PP 9549,16.7,G6,S
12,1,1,"Bonnell, Miss. El...",female,58.0,0,0,113783,26.55,C103,S
13,0,3,"Saundercock, Mr. ...",male,20.0,0,0,A/5. 2151,8.05,null,S
14,0,3,"Andersson, Mr. An...",male,39.0,1,5,347082,31.275,null,S
15,0,3,"Vestrom, Miss. Hu...",female,14.0,0,0,350406,7.8542,null,S
16,1,2,"Hewlett, Mrs. (Ma...",female,55.0,0,0,248706,16.0,null,S
17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.125,null,Q
18,1,2,"Williams, Mr. Cha...",male,null,0,0,244373,13.0,null,S
19,0,3,"Vander Planke, Mr...",female,31.0,1,0,345763,18.0,null,S
20,1,3,"Masselmani, Mrs. ...",female,null,0,0,2649,7.225,null,C

We can also combine these commands as below.

In [0]:
titanic_df.select("PassengerId", "Name").limit(5)

PassengerId,Name
1,"Braund, Mr. Owen ..."
2,"Cumings, Mrs. Joh..."
3,"Heikkinen, Miss. ..."
4,"Futrelle, Mrs. Ja..."
5,"Allen, Mr. Willia..."

We can also make complex queries using SQL keywords as below.

In [0]:
titanic_df.where((titanic_df.Age > 25) & (titanic_df.Survived == 1)).limit(5)

PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
2,1,1,"Cumings, Mrs. Joh...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. ...",female,26.0,0,0,STON/O2. 3101282,7.925,null,S
4,1,1,"Futrelle, Mrs. Ja...",female,35.0,1,0,113803,53.1,C123,S
9,1,3,"Johnson, Mrs. Osc...",female,27.0,0,2,347742,11.1333,null,S
12,1,1,"Bonnell, Miss. El...",female,58.0,0,0,113783,26.55,C103,S